﻿@using Microsoft.AspNetCore.Mvc.Rendering

@model System.Collections.Generic.IReadOnlyDictionary<string, System.Collections.Generic.IEnumerable<Arcanox.AspNetCoreHelpers.Features.Flashes.Models.FlashMessage>>

<div id="flashes">
    @foreach ( var flash in Model.Keys.SelectMany( type => Model[ type ] ) ) {
        @Html.Partial( "Components/Flashes/FlashTemplate", flash )
    }
</div>