﻿div#flashes {
	display: none;

	div.flashBox {
		width: 90%;
		padding: 8px;
		margin: 2px;
		margin-bottom: 32px;
		border-radius: 4px;

		&.error {
			background-color: #ff8888;
			border: 1px solid #cc3333;
			color: #802222;
		}

		&.info {
			background-color: #88aaff;
			border: 1px solid #3355cc;
			color: #222280;
		}

		&.success {
			background-color: #88ffaa;
			border: 1px solid #33cc55;
			color: #228022;
		}
	}
}
