﻿@mixin icon-forms( $input-focus-color ) {
    .form-group {
        & .input-group-icon > .material-icons:first-child {
            transition: color ease-in-out 0.05s;
        }

        &.is-focused {
            .input-group-icon {
                & > .material-icons:first-child {
                    color: $input-focus-color;
                }

                &.input-group-radio {
                    & > label {
                        color: $input-focus-color;
                    }
                }
            }
        }

        &:not(.is-focused) {
            .input-group-icon:not(.has-label-static) {
                input::placeholder,
                textarea::placeholder {
                    opacity: 0;
                }
            }
        }

        &:not(.is-focused):not(.is-filled) {
            .bmd-label-floating {
                top: 2.5rem;
                color: rgba( $bmd-label-color, 0.65 );
            }
        }

        &.is-required:not(.hide-required) {
            .input-group-icon {
                & > .bmd-label-floating,
                & > .bmd-label-static {
                    &::after {
                        content: "*";
                        color: theme-color( danger );
                    }
                }
            }
        }

        .input-group-icon {
            display: flex;
            flex-flow: row;
            align-items: flex-start;
            align-content: flex-start;

            &.input-group-radio {
                display: block;

                & > .material-icons {
                    vertical-align: middle;
                    margin-right: 8px;
                }

                &:hover {
                    & > .material-icons,
                    & > label {
                        color: $input-focus-color;
                    }
                }

                .radio-group {
                    padding-left: 32px;
                    padding-top: 8px;

                    label {
                        cursor: pointer;
                    }
                }
            }

            &:not(.input-group-checkbox):not(.input-group-radio) > .material-icons {
                margin-top: 8px;
            }

            &.inset-icon > .material-icons:first-child {
                flex: 0 0 32px;
                margin-bottom: 4px;

                & + input, & + input[type=text], & + input[type=password] {
                    display: inline-block;
                    flex-grow: 1;
                    margin-left: -32px;
                    padding-left: 32px;
                }
            }

            .bmd-label-floating, .bmd-label-static {
                left: 32px;
            }

            &:not(.inset-icon) .form-control {
                margin-left: 8px;
            }

            .form-control {
                & ~ .btn {
                    box-sizing: border-box;
                    flex: 0 0 32px;
                    margin: 0;

                    & > .material-icons {
                        color: $input-focus-color;
                    }
                }
            }

            .form-display-control {
                @extend .form-control;
                background-image: none !important;
                padding: 9px 0;

                &:not(.sel) {
                    user-select: none;
                    cursor: default;
                }
            }
        }

        .input-group-icon ~ .invalid-feedback,
        .input-group-icon ~ .valid-feedback {
            display: block;
        }
    }
}
