.table {
    th {
        a {
            display: inline-block;
            width: 100%;
    
            &.sorted-asc,
            &.sorted-desc {
                &::before {
                    vertical-align: middle;
                    font-family: "Material Icons";
                    font-size: 18px;
                    font-weight: normal;
                    font-style: normal;
                    line-height: 1;
                    letter-spacing: normal;
                    text-transform: none;
                    display: inline-block;
                    white-space: nowrap;
                    word-wrap: normal;
                    direction: ltr;
                    -webkit-font-feature-settings: 'liga';
                    -webkit-font-smoothing: antialiased;
                }
            }
            
            &.sorted-asc::before { content: "arrow_drop_up"; }
            &.sorted-desc::before { content: "arrow_drop_down"; }
        }
    }
    
    .thead-dark, .tbody-dark {
        .checkbox {
            label {
                .checkbox-decorator {
                    .check {
                        border-color: currentColor;
                    }
                }
            }
        }
    }
}