﻿@using Arcanox.AspNetCoreHelpers.Helpers
@model Arcanox.AspNetCoreHelpers.Features.Dashboard.Models.DashboardPage

@{
    var active = ViewBag.Page == Model.Name || Context.Request.Path == Model.Url;
    var classes = new ClassBuilder()
        .Add( "nav-link" )
        .Add( "active", active )
        .Build();
}

<li class="nav-item ripple">
    <a class="@classes" page="@Model.Name" title="@( Model.Description ?? Model.Name )" href="@Model.Url">
        <i class="material-icons">@Model.IconName</i>
        <span class="link-text">@Model.Name</span>
    </a>
</li>