﻿@using Arcanox.AspNetCoreHelpers.Helpers

@model Arcanox.AspNetCoreHelpers.Features.Table.Models.ViewModels.PaginatorViewModel

@{
	var current = Model.CurrentPage;
	var total = Model.TotalPages;

	var beforeCurrent = Math.Max( current - 1, 0 );
	var afterCurrent = Math.Max( total - current, 0 );

	var renderedBeforeCurrent = Math.Min( beforeCurrent, 4 ); // TODO: Allow configuration of this
	var renderedAfterCurrent = Math.Min( afterCurrent, 4 ); // TODO: Allow configuration of this

	var canGoBack = beforeCurrent > 0;
	var canGoNext = afterCurrent > 0;
}

@functions {

	string ToPage( int page ) => Url.WithQueryParam( Model.ExcludeQueryParams, "page", Math.Min( Math.Max( page, 1 ), Model.TotalPages ) );
}

@if ( total > 0 ) {
	<ul class="pagination">
		@* First Page *@
		<li class="page-item @( total == 1 || current == 1 ? "disabled" : "" )">
			<a class="page-link" href="@ToPage( 1 )">
				<i class="material-icons">first_page</i>
			</a>
		</li>

		@* Previous Page *@
		<li class="page-item @( canGoBack ? "" : "disabled" )">
			<a class="page-link" href="@ToPage( current - 1 )">
				<i class="material-icons">navigate_before</i>
			</a>
		</li>

		@* Dynamically Generated *@
		@for ( var page = current - renderedBeforeCurrent;
			   page <= current + renderedAfterCurrent;
			   page++ ) {
			<li class="page-item @( page == current ? "active" : "" )">
				<a class="page-link" href="@ToPage( page )">
					@( page )
				</a>
			</li>
		}

		@* Next Page *@
		<li class="page-item @( canGoNext ? "" : "disabled" )">
			<a class="page-link" href="@ToPage( current + 1 )">
				<i class="material-icons">navigate_next</i>
			</a>
		</li>

		@* Last Page *@
		<li class="page-item @( total == 1 || current == total ? "disabled" : "" )">
			<a class="page-link" href="@ToPage( total )">
				<i class="material-icons">last_page</i>
			</a>
		</li>
	</ul>
}