﻿@model Arcanox.AspNetCoreHelpers.Features.Dashboard.Models.ViewModels.DashboardViewModel

<ul class="nav flex-column nav-pills nav-drawer">
    @foreach ( var page in Model.Pages ) {
        <partial name="Partials/_DashboardPageLink" model="page"/>
    }
</ul>